.browserupgrade {
  margin: 0.2em 0;
  background: #000;
  color: #000;
  padding: 0.2em 0;
}
html {
  scroll-behavior: smooth;
}
/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  background: #fff;
}
.bg-black {
  background: #000000;
  position: relative;
  .main-nav .nav-item .nav-link {
    color: #fff !important;
  }
  .navbar {
    position: relative;
    z-index: 3;
  }
  .footer {
    color: #fff;
  }
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.05rem solid #e5e5e5;
  position: relative;
  z-index: 4;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0.05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */

  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.main-nav {
  .navbar-brand {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
  }
  .nav-item {
    .nav-link {
      font-weight: bold;
      color: #000 !important;
      transition: 0.2s all ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    // &:not(:first-child) {
    //   border-left: 2px solid #ccc;
    //   @media (max-width: 768px) {
    //     border: 0;
    //   }
    // }
    &:not(:last-child) {
      padding-right: 15px;
      padding-left: 15px;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
  .navbar-collapse {
    // border-bottom: 2px solid #ccc;
    // @media (max-width: 768px) {
    //   border: 0;
    // }
  }
  .navbar-toggler {
    background: #ffffffb8;
  }
}

.main-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  img {
    width: 200px;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}
.navbar-white {
  background-color: #fff;
}
.hero {
  text-align: center;
  position: relative;
  h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    display: block;
    text-transform: lowercase;
    font-size: 5rem;
    span {
      text-transform: capitalize;
    }
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
  p {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 3rem;
  }
  &-footer {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 2;
    display: flex;
    div,
    a {
      &:first-child {
        margin-right: 20px;
      }
      font-weight: bold;
      width: 95px;
      height: 95px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.digital {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  h2 {
    font-size: 5rem;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  &__blob {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50%;
    @media (max-width: 768px) {
      max-width: 100%;
    }
    @media (max-width: 576px) {
      width: 300px;
      height: 300px;
    }
  }
  &__info {
    margin-top: 50px;
    max-width: 800px;
    margin: 50px auto;
    font-size: 22px;
    span {
      display: block;
    }
  }
}

.pharma,
.architecture,
.technology {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  margin-top: 5rem;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.pharma {
  margin-top: 5rem;
  overflow: hidden;
  @media (max-width: 576px) {
    margin-bottom: 35px;
  }
}

.main-info {
  max-width: 368px;
  height: 500px;
  overflow-y: auto;
  color: #000;
  display: none;
  margin-left: 100px;
  @media (max-width: 768px) {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-btn {
  color: #000;
  margin-left: 10px;
  transform: translateY(-5px);
  margin-left: 100px;
  display: none;
  margin-top: 50px;
}
.project-point {
  background-color: #000;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.slick-arrow[type="button"] {
  display: none !important;
}
.project {
  // opacity: 0;
  margin-bottom: 20px;
  // &__geb {
  //   opacity: 0;
  // }
  &__pretitle {
    color: rgba(133, 133, 133, 1);
    font-size: 30px;
  }
  h2 {
    color: #000;
  }
  &__ {
    position: relative;
  }
  p {
    color: #000;
    max-width: 800px;
  }
  .text-center {
    margin-top: 20px;
  }
}

.project-hover {
  transition: 0.3s all ease;
  width: 100%;
  height: 600px;
  object-fit: cover;
  &:hover {
    opacity: 0.8;
  }
}

// slide
.wrap {
  margin-top: 40px;
}
.wrap > h1 {
  margin: 26px auto;
}
#showcase {
  margin-top: 40px;
  overflow: visible !important;
  height: 460px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#item-title {
  color: #000;
  font-size: 29px;
  letter-spacing: 0.13em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 22px;
}

#item-info {
  color: #000;
  font-size: 16px;
  letter-spacing: 0.13em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 300px;
  margin: 0 auto;
  height: 200px;
  overflow-y: auto;
  max-width: 500px;
}

#nav {
  text-align: center;
  margin-top: 40px;
}
#nav > button {
  width: 64px;
  height: 36px;
  color: #666;
  font: bold 16px arial;
  text-align: center;
  margin: 5px;
  text-shadow: 0px 1px 0px #f5f5f5;
  background: #f6f6f6;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#nav > button:active,
#nav > button.down {
  background: #dfdfdf;
  border: solid 2px rgba(0, 0, 0, 0.6);
  box-shadow: none;
}
.cloud9-item {
  border-radius: 50%;
  height: 160px !important;
  width: 165px !important;
  object-fit: cover;
  filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.1));
}
// footer
.footer {
  color: #000;
  padding-bottom: 20px;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  transform: translateY(-50%);
  position: absolute;
  z-index: 9;
  top: 50%;
  font-size: 3rem;
  cursor: pointer;
}

.slick-prev.slick-arrow {
  padding-left: 20px;
  left: 0;
}

.slick-next.slick-arrow {
  padding-right: 20px;
  right: 0;
}
.slick-lightbox {
  background: rgba(0, 0, 0, 0.3) !important;
}
